absl-py==2.3.1
dm-env==1.6
dm-tree==0.1.9
glfw==2.9.0
h5py==3.14.0
labmaze==1.0.6
lxml==6.0.1
mock==5.2.0
mujoco==3.4.0
numpy==2.3.2; python_version >= '3.11'
numpy==2.2.6; python_version == '3.10'
numpy==2.0.2; python_version == '3.9'
pillow==11.3.0
protobuf==4.25.8
pyopengl==3.1.10
pyparsing==3.2.3
pytest==8.4.1
pytest-xdist==3.8.0
pytest-timeout==2.4.0
requests==2.32.5
scipy==1.16.1; python_version >= '3.11'
scipy==1.15.3; python_version == '3.10'
scipy==1.13.1; python_version == '3.9'
setuptools==80.9.0
tqdm==4.67.1
