absl-py==2.1.0
dm-env==1.6
dm-tree==0.1.8
glfw==1.12.0
h5py==3.11.0
labmaze==1.0.6
lxml==5.2.2
mock==5.1.0
mujoco==3.1.6
nose==1.3.7
nose-xunitmp==0.4.1
numpy==1.24.4; python_version == '3.8'
numpy==1.26.4; python_version >= '3.9'
Pillow==10.3.0
protobuf==3.19.4  # TensorFlow requires protobuf<3.20 (b/182876485)
pyopengl==3.1.7
pyparsing==3.1.2
requests==2.32.3
scipy==1.10.1; python_version == '3.8'
scipy==1.13.1; python_version >= '3.9'
setuptools==70.0.0
tqdm==4.66.4
