absl-py==1.0.0
dm-env==1.5
dm-tree==0.1.7
glfw==1.12.0
h5py==3.6.0
labmaze==1.0.5
lxml==4.8.0
mock==4.0.3
mujoco==2.2.0
nose==1.3.7
nose-xunitmp==0.4.1
numpy==1.21.6
Pillow==9.1.1
protobuf==3.20.1
pyopengl==3.1.6
pyparsing==2.4.7
requests==2.27.1
scipy==1.7.3
setuptools==62.3.2
tqdm==4.64.0
